.content-title {
  font-size: 12px;
}

.content-title {
  font-size: 20px;
  line-height: 35px;
}

.card_rating {
  font-size: 17px;
  line-height: 2px;
}

.row.headers h1,
.row.headers h2 {
  line-height: 45px;
  margin-top: 45px;
  display: inline-block;
}

.upvote-box {
  height: 100px;
  width: 100px;
}

.z-rating * {
  line-height: 20px;
}

.updown {
  display: inline-block;
}

.updown h6 {
  font-size: 18px;
}

