.content-title {
  font-size: 12px;
}

.row.headers h1,
.row.headers h2 {
  line-height: 45px;
  margin-top: 45px;
}

.preloader-wrapper {
  position: fixed;
  margin: 0 auto;
  left: 50%;
  top: 45%;
}

.content-title {
  font-size: 25px;
  line-height: 35px;
}

.card_rating {
  font-size: 16px;
  line-height: 9px;
  font-weight: bold;
}

.zomato_rating {
  font-size: 15px;
  line-height: 15px;
}

.address {
  font-size: 12px;
}

.row.headers h1,
.row.headers h2 {
  line-height: 45px;
  margin-top: 45px;
  display: inline-block;
}

.upvote-box {
  height: 100px;
  width: 100px;
}

.z-rating * {
  line-height: 20px;
}

.updown {
  display: inline-block;
}

.vote-button {
  font-size: 18px;
}

.vote-button .button {
  background:none!important;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

.vote-graphic {
  font-size: 18px;
}

.upvote {
  color: green;
}

.downvote {
  color: red;
}

/*
.fixed {
  display: block;
  position: fixed;
  background-color: white;
  width: 70%;
  margin: auto;
}

.scrollable {
  padding-top: 406px;
  margin-top: 50px;
  display: block;
  overflow-y: auto;
  max-height: 100%;
  width: 100%;
  margin: auto;
}*/

.voted {
  color: #2196F3;
}

.reviews {
  color: white;
}

.totalContainer {
  float: left;
  width: 15%;  
  overflow-y: scroll;
  max-height: 100%;
}

.totalContainer .container {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

h6 {
  margin: 0.7rem 0 0.4rem 0;
}