<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 60%;
      }
    </style>
  </head>
  <body>
    <% qualified = [] %>
    <div id="map"></div>
    <% Restaurant.where("longitude <= ?", -79.4).each do |restaurant| %>
      <% qualified.push(restaurant) %>
    <% end %>
    <% qualified.each do |rest| %>
      <%= rest.longitude %>
    <% end %>
    <script>
// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see the error "The Geolocation service
// failed.", it means you probably did not give permission for the browser to
// locate you.

      function initMap() {
        console.log('initMap called');
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 43.6561, lng: -79.3803},
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        // Setting up new markets with location
        // Need to get restaurant data from db and load in
        // Want to query the database and only show areas around us in google maps
        var image = 'restaurant.png';
        var marker = new google.maps.Marker({
          position: {lat: 43.6561, lng: -79.3803}, 
          map: map,
          icon: image
        });

        google.maps.event.addListener(map, 'bounds_changed', function() {
          a = map.getBounds();
          $.get("/restaumap", {
            lat1: a.Pa.I,
            lat2: a.Pa.j,
            lon1: a.La.I,
            lon2: a.La.j
          } )
            .done (function(restaurants){
              console.log(a.Pa.I);
            });
        });

        // var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            // infoWindow.setPosition(pos);
            // infoWindow.setContent('Location found.');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxPoGKOAzfeXNeWWGHI1vL4mLK7We0hlc&signed_in=true&callback=initMap"
        async defer>
    </script>
  </body>
</html>
