<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 80%;
      }
    </style>
  </head>
  <body>
    <div id="map">
      
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    
    </div>
    <script>
      function initMap() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            loadMap(pos);
          }, function() {
            var defaultpos = {
              lat: 43.6561,
              lng: -79.3803,
            };
            loadMap(defaultpos);
          });
        } else {
          // Browser doesn't support Geolocation
          var defaultpos = {
            lat: 43.6561,
            lng: -79.3803,
          };
          loadMap(defaultpos);
        }
      }


      function loadMap(position) {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: position,
          zoom: 15,
        });

        markerArr = [];
        idArr = [];
        
        infoWindow = new google.maps.InfoWindow();

        google.maps.event.addListener(map, 'idle', function() {
          bounds = map.getBounds();
          $.post("/restaumap", {
            lat1: bounds.Pa.I,
            lat2: bounds.Pa.j,
            lon1: bounds.La.I,
            lon2: bounds.La.j
          } )
            .done (function(restaurants){
              var image = 'restaurant.png';

              var data = JSON.parse(restaurants);
              for (var i = 0; i < data.length; i++) {
                search = data[i];

                // debugger

                if ($.inArray(search.id, idArr) < 0) { 
                  var marker = new google.maps.Marker({
                    position: {lat: Number(search.latitude), lng: Number(search.longitude)}, 
                    map: map,
                    icon: image,
                    clickable: true,
                    title: search.name,
                    id: search.id
                  });

                  markerArr.push(marker);
                  idArr.push(marker.id);

                  showInfo(marker, search.name, search.zomato_rating, search.rating, search.address, search.id);
                }
              };
            });


        function showInfo(marker, title, zomato_rating, foodmap_rating, address, id) {
          marker['content'] = 
            "<h3 class ='content-title'>" + title +'</h3> <hr/>' //Title
            + '<p class="card_rating">Rating: ' + foodmap_rating //Our rating
            + '<p class="zomato_rating">Zomato Rating: ' + zomato_rating + '</br></br>'//Rating
            + address //Address
            // + '</p> <a class="save" href="#"> <img src="save.jpeg" height="25" width="25"></a>' //Save button
            +  '<div class="right">'
            + '</div>'

            // + '</p> <a class="save" href="#"> <img src="save.jpeg" height="25" width="25"></a>' //Save button
            + '<a href="/show/' + id + '"><button class = "view-reviews"> View Reviews</a></button>' //Button

          google.maps.event.addListener(marker, "click", function () {
            infoWindow.setContent(this['content']);
            infoWindow.open(map, this);
          });
          marker;
        };

        });
        
       
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
          'Error: The Geolocation service failed.' :
          'Error: Your browser doesn\'t support geolocation.');
      }


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxPoGKOAzfeXNeWWGHI1vL4mLK7We0hlc&signed_in=true&callback=initMap"
        async defer>
    </script>
    
  </body>
</html>