<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Food Map</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light btn modal-trigger" href="#log_in_modal">Log In</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a class="waves-effect waves-light btn modal-trigger" href="#log_in_modal">Log In</a></li>
    </ul>
  </div>
</nav>

<!-- Modal Structure -->
<div id="log_in_modal" class="modal">
  <div class="modal-content">
    <h4>Log In</h4>
    <form class="col s4" method="post" action="/login">
      <div class="row">
      <div class="row">
            <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
    </form>
  </div>
  </div>
  <div class="modal-footer">
    <a href="#sign_up_modal" id="signup-button" class=" modal-action modal-close waves-effect waves-green btn-flat" class="waves-effect waves-light btn modal-trigger">Sign Up</a>
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Log In</a>
  </div>
</div>

<div id="sign_up_modal" class="modal">
  <div class="modal-content">
    <h4>Sign Up</h4>
    <form class="col s6" method="post" action="/signup">
      <div class="row">
        <div class="input-field col s12">
          <input id="user_name" type="text" class="validate">
          <label for="user_name">User Name</label>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
        </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
    </form>
  </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Sign Up</a>
  </div>
</div>
